@import "./../main.scss";

.filters {
  p {
    padding: 8px 12px;
    margin: 20px;
    color: #FFFFFF;
    background-color: $light;
    border: solid 1px $light;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
  }

  .header {
    background-color: $dark;
  }

  .filter-row {
    display: flex;
    justify-content: center;
  }

  .selected {
    background-color: $light;
  }

  .deselected {
    background-color: $grey;
    color: #000000;
  }
}