@import "./../main.scss";

.navbar {
  background-color: $light;
  display: flex;
  justify-content: space-between;

  .nav-buttons {
    display: flex;
    justify-content: flex-end;
  }

  a {
    text-decoration: none;
    color: #FFFFFF;
    h4 {
      text-decoration: none;
      padding: 8px 12px;
      margin: 20px;
      background-color: $dark;
      border: solid 1px $dark;
      border-radius: 20px;
    }
  }

  .logo {
    width: 180px;
    padding: 8px;
  }
}