@import "./../main.scss";

.navbar {
  background-color: $light;
  display: flex;
  justify-content: space-between;

  .nav-buttons {
    display: flex;
    justify-content: flex-end;
  }

  a {
    text-decoration: none;
    color: $light;
    h4 {
      text-decoration: none;
      padding: 8px 12px;
      margin: 20px;
      background-color: $accent;
      border: solid 1px $accent;
      border-radius: 20px;
      box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
    }
  }

  .logo {
    width: 180px;
    padding: 8px;
  }
}